input[type=text]{
    width: 100%;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}


#priority{
    color: #767676;
    margin-left: .8125rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px 0px 0px 13px;
    font-family: LetteraTextLL;
}

.header{
        overflow: hidden; /* Hide scrollbars */
        position: fixed;
}