@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
input {
    margin-left: 35px;
    width: 250px;
}
.div1{
    border-radius: 12px;
    width: 420px;
    height: 80px;
    border: 1px solid #6b6969;
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
    color: #9498a1;
}
.fake-input { 
    position: relative;
     width:210px;
     }
.fake-input input { 
    border:none; 
    color: #e2e8f0;
    background-color:#fff; 
    display:block; 
    width: 100%; 
    box-sizing: border-box;
    margin-top: -40px; 
    margin-left: 75px;
    
}
.msg{
    padding-top: 25px;
    padding-left: 15px;
    height: 45px;
    width: 45px;
}
input:focus{
    outline: none;
}

.header{
        overflow: hidden; /* Hide scrollbars */
        position: fixed;
}

.heading1{
    padding-top: 75px;
    font-family: TiemposHeadline;
    font-weight: bold;
    font-size: 66px;
    line-height: 1.11;
}
.heading2{
    margin: 20px 0px 0px 0px;
    font-size: 1.75rem;
    color: #767676;
    line-height: 1.5;
    font-family: LetteraTextLL;
}
.join{
    margin-left: 285px;
    margin-top: -58px;
    border-radius: 12px;
    width: 120px;
    height: 60px;
    background-color: #4643EE;
}
.button1{
    color: white;
    font-size: 18px;
    margin-left: 25px;
}
.para{
    margin-top: -24px;
    margin-left: 140px;
    padding-left: 10px;
    font-weight: bold;
    color: #767676;
    font-family: LetteraTextLL;
    font-size: 1.2rem;
    letter-spacing: 0;
}
.backed{
    margin-left: -142px;
    font-family: LetteraTextLL;
    font-weight: 1000;
    -webkit-font-smoothing: antialiased;
    font-size: 1.125rem;
    line-height: 1.44;
    letter-spacing: .25rem;
    color: rgba(55,55,55,var(--text-opacity));
}

.seq{
   
    max-width: 60%;
}
.poly{
    max-width: 60%;
}
.cons{
    max-width: 70%;
}
.save{
    font-family: "Gill Sans", sans-serif;
    font-weight: 700;
    color: rgb(70, 67, 238);
    font-size: 1.25rem;
    line-height: 1.33;
}
.head1{
    font-size: 2.65rem;
    line-height: 1.17;
    font-family: TiemposHeadline;
    font-weight: bolder;
}
.head2{
    font-family: "Gill Sans", sans-serif;
    color: #9498a1;
    font-weight: 400;
    font-size: 1.25rem;
    --text-opacity: 1;
    line-height: 1.77;
    text-align: left;
}


.early{
    font-size: 2.65rem;
    line-height: 1.17;
    font-family: TiemposHeadline;
    font-weight: bolder;
}

.early1{
    font-family: MarkPro;
    line-height: 1.5;
    color: #9498a1;
    font-size: 28px;
    margin: 16px 0px 0px;
    line-height: 1.47;
    text-align: center;
}

.credit{
    width: 245px;
    margin-left: 65px;
    margin-bottom: -85px;
}

.card{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  height: 545px;
  margin: auto;
  text-align: center;
  font-family: arial;
  z-index: -1;
}

.met {
    font-family: LetteraTextLL;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.44;
    letter-spacing: .25rem;
    --text-opacity: 1;
    color: #373737;
    text-transform: uppercase;
}

.metal{
    padding-top: 105px;
    color: #373737;
    font-family: LetteraTextLL;
    font-size: 0.95rem;
    line-height: 1.44;
    letter-spacing: .55rem;    
    text-transform: uppercase;

}
.text-juno-blue{
    --text-opacity: 1;
    color: #4643ee;
    color: rgba(70,67,238,var(--text-opacity));
}
.leading-tight {
    line-height: 1.25;
}
.text-54 {
    font-size: 3.375rem;
}
.font-black {
    font-weight: 900;
}
.font-mono {
    font-family: LetteraTextLL;
}
.align-text-top {
    vertical-align: text-top;
}
.text-slate-gray {
    --text-opacity: 1;
    color: #b2b2b2;
    color: rgba(178,178,178,var(--text-opacity));
}
.-ml-3 {
    margin-left: -.75rem;
}
.text-24 {
    font-size: 1.5rem;
}
.font-bold {
    font-weight: 700;
}
.font-mono {
    font-family: LetteraTextLL;
}
